@model SistemaLoca.BusinnesLogic.Model.ControleAcervo.Distribuidora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Distribuidora</legend>

    <div class="display-label">Endereco</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <div class="display-label">Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">PessoaContato</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaContato)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
